export default [
    {
        path: '$!{cfg.vueRouterPrefix}/${table.entityPath}',
        name: '${table.entityPath}',
        component: () => import('@$!{cfg.vuePagePath}/${table.entityPath}/list'),
        meta: {
            title: "$!{table.comment}管理"
        },
    }
]