package ${package.ServiceImpl};

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import org.springframework.stereotype.Service;

import javax.annotation.Resource;

/**
 * @author roffer
 */
@Service
public class ${entity}ServiceImpl extends ServiceImpl<${entity}Mapper,${entity}> implements ${entity}Service {
    @Resource
    private ${entity}Mapper ${table.entityPath}Mapper;
}
